@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --corprincipal: #464646;
    --corsecundaria:#6ea4bb;
    --corterciaria:#f0dba5;
    --cortitulo:#e7e7e6;
    --font: "Libre Baskerville", serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1{
    color: var(--cortitulo);
    margin-right: 20px;
}

.cabecalho img{
    max-width:35px;
    max-height:35px;
    width: auto;
    height: auto;
}

.container__input{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container__input .input{
    width: 600px;
    height: 530px;
}

#input__texto{
    width: 545px;
    height: 530px;
    font-size: 20px;
    color: var(--cortitulo);
    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
}
    

#output{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--cortitulo);
    border-radius: 20px;
    width: 550px;
    height: 600px;
    margin-right: 3%;
    color: var(--cortitulo);
}

#output h2{
    text-align: center;
    font-size: 25px;
}

#output span{
    font-size: 16px;
    text-align: center;
}

#output img{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container__button button{
    background-color: #464646;
    border: 2px solid var(--corprincipal);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corsecundaria);
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.button__copiar{
    border: 2px solid var(--corprincipal);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corsecundaria);
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container__button button:hover{
   border: 2px solid var(--cortitulo);
   transition: 0.5s all;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px ;
    background:var(--corprincipal) ;
    color: var(--cortitulo);
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon{
    width: 25px;
    height: 25px;
    color: var(--cortitulo);
}

.icons ion-icon:hover{
    color: var(--corsecundaria);
}